world-time-api/src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a7298843-71da-401e-b999-53b993ed3281" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d09a5703-c8c9-4ae1-974d-5d0c4cf3f90f" >
		<http:request-connection host="mu.learn.mulesoft.com" />
	</http:request-config>
	<flow name="world-time-apiFlow" doc:id="81a2bdc0-2d3b-4898-8789-701452537cbe" >
		<http:listener doc:name="Listener" doc:id="568976d0-f58b-4a89-b0e5-fe7a279493c4" config-ref="HTTP_Listener_config" path="/world-time"/>
		<logger level="INFO" doc:name="Logger" doc:id="31bd9842-87af-45b2-8eba-9da8bb6865c4" message='#["start of the flow"]'/>
		<http:request method="GET" doc:name="Request" doc:id="f68d13de-bc95-46eb-8b26-fde5f453f3e8" config-ref="HTTP_Request_configuration" path="/united/flights"/>
		<ee:transform doc:name="Transform Message" doc:id="6f9bef9f-d216-4c3f-888d-78d9067e4041" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
